@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand';
    font-style: normal;
}

#container1 {
    height: 1080px;
    background: #FFFFFF;
}

a {
    text-decoration: none;
}

/* Navbar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    gap: 25rem;
    position: static;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

#logo {
    width: 140px;
    height: 90px;
}

#nav-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

#left-nav-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 80px;
}

#nav-text {
    width: 104px;
    height: 36px;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B22B2B;
}

#line {
    width: 4px;
    height: 48px;
    background: #B22B2B;
    opacity: 0.2;
    border-radius: 100px;
}

#register-text {
    width: 243px;
    height: 36px;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B22B2B;
}

/* Intro */
#intro-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: absolute;
    width: 1440px;
    height: 640px;
    left: calc(50% - 1440px/2);
    top: 240px;
}

#bakmie {
    width: 640px;
    height: 640px;
    border-radius: 10%;
}

#intro-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
}

#intro-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 700px;
    height: 386px;
    align-self: stretch;
}

#text1 {
    width: 700px;
    height: 258px;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #B22B2B;
    align-self: stretch;
}

#text2 {
    width: 700px;
    height: 108px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #1E1E1E;
    align-self: stretch;
}

#intro-container2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 600px;
    height: 78px;
}

#purchase-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px 20px;
    gap: 10px;
    width: 280px;
    height: 78px;
    background: #B22B2B;
    border-radius: 8px;
}

#purchase-txt {
    width: 200px;
    height: 42px;
    font-weight: 700;
    font-size: 24px;
    line-height: 180%;
    color: #FFFFFF;
}

#our-menu-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px 20px;
    gap: 10px;
    width: 280px;
    height: 78px;
    border: 2px solid #B22B2B;
    border-radius: 8px;
}

#our-menu-txt {
    width: 135px;
    height: 42px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 160%;
    color: #B22B2B;
}

/* Content 1 */
#container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 240px 160px;
    background: #B22B2B;
}

#content1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
}

#content1_1-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
    width: 1440px;
    height: 127px;
}

#content1_1-text1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 0px;
    gap: 40px;
    width: 600px;
    height: 127px;
}

#content1_1-text1 {
    text-align: center;
    width: 314px;
    height: 43px;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
}

#content1_1-text2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 0px;
    gap: 40px;
    width: 600px;
    height: 127px;
}

#content1_1-text2 {
    text-align: center;
    width: 303px;
    height: 43px;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
}

#underline {
    width: 305px;
    height: 4px;
    background: #FFFFFF;
}

#content1_2-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    width: 1440px;
    height: 600px;
}

#content1_2-img-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 36px 32px;
    gap: 30px;
    width: 453px;
    height: 600px;
    border-radius: 8px;
    align-self: stretch;
}

#content1_2-txt-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 390px;
    height: 126px;
    align-self: stretch;
}

#content1_2-txt1 {
    width: 389px;
    height: 38px;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
    align-self: stretch;
}

#content1_2-txt2 {
    width: 389px;
    height: 72px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    align-self: stretch;
}

.img-txt-container1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0.8) 100%), url("./Image Asset/Content1.jpg"), #EFEFEF;
}

.img-txt-container2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0.8) 100%), url("./Image Asset/Content2.jpg"), #EFEFEF;
}

.img-txt-container3 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0.8) 100%), url("./Image Asset/Content3.jpg"), #EFEFEF;
}

/* Content 2 */
#container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 240px 200px;
    gap: 200px;
    height: 2738px;
}

#content2_1-img-txt-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    align-self: stretch;
}

#content2_1-img {
    width: 680px;
    height: 480px;
    border-radius: 16px;
}

#content2_1-desc-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 40px;
    gap: 48px;
    width: 680px;
    height: 304px;
}

#content2_1-txt-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 680px;
    height: 138px;
    align-self: stretch;
}

#content2_1-txt1 {
    width: 564px;
    height: 86px;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #B22B2B;
}

#content2_1-txt2 {
    width: 680px;
    height: 36px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #1E1E1E;
    align-self: stretch;
}

#more-about-us-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px 20px;
    gap: 10px;
    width: 280px;
    height: 78px;
    background: #B22B2B;
    border-radius: 8px;
}

#more-about-us-txt {
    width: 199px;
    height: 42px;
    font-weight: 700;
    font-size: 24px;
    line-height: 180%;
    color: #FFFFFF;
}

#contact-booking-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 64px 0px 72px;
    width: 1440px;
    height: 338px;
    background: #FFFFFF;
    box-shadow: 0px 12px 48px rgba(66, 71, 86, 0.15);
    border-radius: 12px;
}

#booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 720px;
    height: 202px;
}

#booking-desc {
    width: 718px;
    height: 84px;
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: #1E1E1E;
}

#book-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px 20px;
    gap: 10px;
    width: 280px;
    height: 78px;
    background: #B22B2B;
    border-radius: 8px;
}

#book-now-txt {
    width: 145px;
    height: 42px;
    font-weight: 700;
    font-size: 24px;
    line-height: 180%;
    color: #FFFFFF;
}

#line2 {
    width: 4px;
    height: 160px;
    background: #B22B2B;
    opacity: 0.2;
}

#contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 720px;
    height: 202px;
}

#contact-us-desc {
    width: 450px;
    height: 84px;
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: #1E1E1E;
}

#contact-us-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px 20px;
    gap: 10px;
    width: 280px;
    height: 78px;
    border: 2px solid #B22B2B;
    border-radius: 8px;
}

#contact-us-txt {
    width: 148px;
    height: 42px;
    font-weight: 700;
    font-size: 24px;
    line-height: 180%;
    color: #B22B2B;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 15rem;
    gap: 120px;
    background: #1E1E1E;
}

#info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15%;
}

#overview-sosmed-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
}

#overview-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

#footer-main-txt {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #FFFFFF;
}

#footer-subtxt {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}

#sosmed-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#footer-icon-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10%;
    gap: 40px;
}

#icon {
    width: 48px;
    height: 48px;
}

#branches-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

#branches-info-txt-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
}

#branches-desc-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

#branches-desc {
    font-weight: 500;
    line-height: 150%;
    color: #FFFFFF;
}

#branches-desc.txt {
    font-size: 24px;
}

#branches-desc.subtxt {
    font-size: 20px;
}

#copyright-txt {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: flex-start;
    color: #FFFFFF;
}


