@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand';
    font-style: normal;
}

a {
    text-decoration: none;
}

#header-container {
    height: 556px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0.8) 100%), url("./Image Asset/our_menu.png"), #EFEFEF;
}

/* navbar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    gap: 25rem;
    position: static;
    height: 154px;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#logo {
    width: 140px;
    height: 90px;
}

#nav-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

#left-nav-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

#nav-text {
    width: 104px;
    height: 36px;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#line {
    width: 5px;
    height: 48px;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 100px;
}

#register-text {
    width: 243px;
    height: 36px;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/* Intro Container */
#intro_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    gap: 16px;
    position: static;
    height: 196px;
}

#intro_text1 {
    width: 224px;
    height: 72px;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

#intro_text2 {
    width: 960px;
    height: 108px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

/* menu container */
#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
    height: 2738px;
}

#best-seller-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 160px;
    position: absolute;
    width: 1440px;
    height: 2328px;
    left: calc(50% - 1440px/2);
    top: 716px;
}

#container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 1440px;
    height: 751px;
}

#subcontainer1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
    width: 1440px;
    height: 43px;
}

#rectangle {
    width: 520px;
    height: 4px;
    background: #B22B2B;
    border-radius: 10px;
}

#text {
    width: 273px;
    height: 43px;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: #1E1E1E;
}

#subcontainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 1440px;
    height: 660px;
}

#image_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 1440px;
    height: 600px;
}

#image {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 36px 24px;
    gap: 30px;
    width: 454px;
    height: 600px;
    border: 2px solid #CBCBCB;
    border-radius: 8px;
}

#image.one {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.69%, rgba(0, 0, 0, 0.7) 100%), url("./Image Asset/Classic-Chicken-Noodles.png");
}

#image.two {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.69%, rgba(0, 0, 0, 0.7) 100%), url("./Image Asset/Chicken-Noodles-With-Dumplings.png");
}

#image.three {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.69%, rgba(0, 0, 0, 0.7) 100%), url("./Image Asset/Yi Fu Mie.png");
}

#image.four {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.69%, rgba(0, 0, 0, 0.7) 100%), url("./Image Asset/Chicken-Noodles-With-Brocolli.png");
}

#image.five {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.69%, rgba(0, 0, 0, 0.7) 100%), url("./Image Asset/Noodles-With-CapCay.png");
}

#image.six {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.69%, rgba(0, 0, 0, 0.7) 100%), url("./Image Asset/Spicy-Seafood-Noodles.png");
}

#menu-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 405px;
    height: 236px;
}

#menu-text {
    width: 405px;
    font-weight: 600;
    line-height: 120%;
    color: #FFFFFF
}

#menu-text.menu-name {
    height: 76px;
    font-size: 32px;
}

#menu-text.menu-desc {
    height: 72px;
    font-size: 24px;
}

#price-tag {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 12px 8px;
    gap: 10px;
    width: 202px;
    height: 56px;
    background: #B22B2B;
    border-radius: 10px;
}

#price-text {
    padding: 0.5rem;
    width: 178px;
    height: 42px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #FFFFFF;
}

#elipse-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    height: 20px;
}

#elipse {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

#elipse.selected {
    background: #B22B2B;
}

#elipse.unselected {
    background: #D7D7D7;
}

/* Menu */
#menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 64px;
    width: 1440px;
    height: 1417px;
}

#menu-type-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 105px;
}

#type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0px 0px;
    gap: 36px;
    width: 360px;
    height: 105px;
}

#type-text {
    text-align: center;
    width: 150px;
    height: 34px;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
}

#type-text.selected {
    color: #B22B2B;
}

#type-text.unselected {
    color: #1E1E1E;
}

#rectangle2 {
    width: 360px;
    height: 3px;
    background: #B22B2B;
}

#menu-image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    width: 1440px;
    height: 1248px;
}

#menu-images-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 1440px;
    height: 600px;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 15rem;
    gap: 120px;
    bottom: 0;
    background: #1E1E1E;
}

#info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15%;
}

#overview-sosmed-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
}

#overview-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

#footer-main-txt {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #FFFFFF;
}

#footer-subtxt {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}

#sosmed-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#footer-icon-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10%;
    gap: 40px;
}

#icon {
    width: 48px;
    height: 48px;
}

#branches-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

#branches-info-txt-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
}

#branches-desc-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

#branches-desc {
    font-weight: 500;
    line-height: 150%;
    color: #FFFFFF;
}

#branches-desc.txt {
    font-size: 24px;
}

#branches-desc.subtxt {
    font-size: 20px;
}

#copyright-txt {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: flex-start;
    color: #FFFFFF;
}