@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* definition */
:root {
    --white: #ffffff;
    --gray: #D7D7D7;
    --black: #1E1E1E;
    --BJM-red: #B22B2B;
    --BJM-yellow: #FFC844;
}

/* reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    text-decoration: none;
    list-style: none;
    line-height: 150%;
}

img
{
    border-radius: 2vh;
    max-width: 100%;
    height: auto;
    display: block;
}

/* header */

/* BUTTON COMPONENTS */

.btn {
    padding: 1rem 3rem;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 1.25rem;
}

.btn-primary-red {
    background-color: var(--BJM-red);
    color: var(--white);
    border: 0px;
}

.btn-primary-white {
    background-color: var(--BJM-white);
    color: var(--BJM-red);
    border: 0px;
}

.btn-secondary-red {
    background-color: transparent;
    border: 2px solid var(--red);
    color: var(--BJM-red);
}

.btn-secondary-white {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
}

/* NAVBAR */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;

    width: 100%;
    position: static;
    left: 0px;
    top: 0px;
}



.nav-logo {
    width: 100px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
}

.nav-item-list {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 48px;
}

.nav-item {
    margin: 0.25rem;
    display: block;
    font-weight: 600;
    font-size: 1rem;
    text-shadow: 0 0 2px var(--black) , 0 0 2px var(--BJM-red);
    color: var(--white);
}

.nav-item:hover {
    margin: 0;
    padding: 0.25rem;
    border-radius: 50vh;
    background-color: var(--BJM-red);
    transition: 0.2s ease-in-out;
}

.nav-line {
    width: 2px;
    height: 40px;
    border-radius: 100px;

    background-color: var(--white);
    opacity: 0.2;
}

.dropdown_button {
    margin: 0.25rem;
    display: block;
    font-weight: 600;
    font-size: 1rem;
    text-shadow: 0 0 2px var(--black) , 0 0 2px var(--BJM-red);
    color: var(--white);
}

.dropdown_button:hover {
    margin: 0;
    padding: 0.25rem;
    border-radius: 50vh;
    background-color: var(--BJM-red);
    transition: 0.2s ease-in-out;
}

.dropdown_container
{
    display: block;
    position: absolute;
    opacity: 0;
}


.dropdown_menu:hover .dropdown_container
{
    opacity: 1;
    transition: 0.3s ease-in-out;
}


.dropdown_item
{
    display: block;
    margin: 5px auto;
    padding: 5px;
    border-radius: 50vh;
    background-color: var(--white);
    color: var(--BJM-red);
    text-decoration: none;
}

.dropdown_item>*
{
    color: var(--BJM-red);
}

/* header */


#header_container
{
    text-align: center;
    background-image: url("./Image Asset/es_header_img.png");
    background-size: 100% auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* grid-column: 3; */
}

.es_header
{
    width: 100%;
    margin: 0 auto;
    text-shadow: 0 0 2px var(--black) , 0 0 2px var(--BJM-red);
}

.header_item
{
    padding: 2rem 0px;
    color: var(--white);
}

#es_content
{
    width: 50% ;
    padding-bottom: 5rem;
}


/* main body */
.main_body_container
{
    padding-top:5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50%;
    margin: 2rem auto;
    gap: 5rem;
}

.main_body_content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-items: center;
    align-items: center;
}

.content_text
{
    margin: auto 0;
    
    /* flex */
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.content_text > h2
{
    color: var(--BJM-red);
    font-weight: 600;
}

#content_text_reverse > *
{
    text-align: right;
}

/* contact us */
.contact_us_container
{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 2rem;
    background-color: var(--white);

    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 12px 48px rgba(66, 71, 86, 0.15);
    border-radius: 12px;
}

.contact_us_text > *
{
    text-align: center;
}

.bold_this_text
{
    font-weight: 700;
}

.line_design  
{
    background: var(--BJM-red);
    width: 0.1rem;
    height: 90%;
    margin: auto;
}

.es_button_bn
{
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.75rem 2.5rem;
    font-weight: 700;
    border-radius:  1vh;
    background: var(--BJM-red);
    border: var(--BJM-red);
    color: var(--white);
}

.es_button_bn:hover
{
    cursor: pointer;
}

.es_button_cu
{
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.75rem 2.5rem;
    font-weight: 700;
    border-radius:  1vh;
    background: var(--BJM-white);
    border: 2px solid var(--BJM-red);
    color: var(--BJM-red); 
}

.es_button_cu:hover
{
    cursor: pointer;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 8rem 2rem;
    gap: 4rem;
    background-color: var(--black);
    
    color: var(--white);
}

.footer-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4rem;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0.5rem;
}

.social-media-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 1rem;
}

.footer-header {
    font-weight: 700;
    font-size: 1.25rem;
}

.footer-content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4rem;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1rem;
}

.footer-item {
    font-weight: 500;
    font-size: 1rem;
    color: var(--white);
}

.footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1rem;
}

.region-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4rem;
}

.branch-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 12rem;
    gap: 1rem;
}

.branch-location {
    font-weight: 500;
    font-size: 0.875rem;
}


/* responsiveness */
/* global for all other pages */
@media(max-width:800px)
{
    nav 
    {
        padding: 0.5rem 2rem;
    }   

    .main_body_container
    {
        width: 80%;
    }
    .contact_us_container
    {
        width: 75%;
    }
}
